 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  font-family: 'Signika', sans-serif;
  background-color: #2d3843;
}
.flex{
  display:flex;
}
ul li{
  list-style: none;
}
header{
  top:0;
  left:0;
  width:100vw;
  position: fixed;
  z-index:3;
  justify-content: space-between;
  align-items:center;
  height:80px;
  background-color: #000;
  padding:0 20px;
}
.logo {
  width:120px;
  height:auto;
  margin-right: 10px;
}
main{
  overflow-x:auto;
  width:100%;
}
.locandina{
  overflow-x:hidden;
  position:relative;
  color:#fff;
  margin:10px;
  width:24vw;
  height:calc(100vh - 280px);
  border:1px solid #fff;
  background-position: center;
  background-size: cover;
}
#root{
  position:relative;
}
.layover{
  position:absolute;
  top:0;
  padding:30px 10px 0 10px;
    display: flex;
    opacity:0;
    height:100%;
    width:100%;
    background-color: #000000e0;
    color: white;
    font-size:20px;
    line-height: 30px;
    flex-direction: column;
    overflow-y: auto;
    transition:1s;
}
.layover:hover{
    opacity:1;

}

.flag{
  margin:10px 0;
  text-align: center;
}
/* https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll */

h3{
  word-spacing: 9999999px;
  font-size: 35px;
  transform: skewY(-3deg);
  line-height: 80%;
  padding-top: 20px;
  padding-left: 10px;
color: #72613c;
text-transform: uppercase;
text-shadow: 1px 1px 5px #fff;
}

.categorie{
  align-items: center;
}
.nav-left{
  line-height: 80px;
  align-items: center;
}
.nav-left li{
  padding:0 10px;
  height:80px;
  display:inline-block;
  font-size: 20px;
  cursor: pointer;
  color:white;
}
.nav-left li:hover{
background-color: grey;
}

.jumbotron{
  position:relative;
  color:white;
  margin-top:80px;
  width:100%;
  height:500px;
  background-size:cover;
  background-position: 0 -280px;
  background-repeat: no-repeat;
}

.jumbotron li {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 900;
  margin:30px 0;
}
.jumbotron p {
  font-size: 30px;
}
.jumbotron .flex{
  width:50%;
flex-direction: column;
}

.category-title{
  margin-top:20px;
  margin-left:10px;
  color:#fff;
}

.lay{
  position:absolute;
  background-color: black;
  width:100%;
  height:100%;
  opacity:0.3;
}
.text{
  padding:0 20px;
  position:absolute;
  width:100%;
  height:100%;
  z-index:2;
}
.text .top{
  overflow-y:auto;
}
html::-webkit-scrollbar,.layover::-webkit-scrollbar,.text .top::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;}  /* Optional: just make scrollbar invisible */
.button {
  margin-top:30px;
  margin-bottom:10px;
  margin-right:10px;
  height: 40px;
  line-height: 40px;
  min-width: 100px;
  padding: 0 20px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}
.play.button{
  background-color: #fff;
  color:black;
}
.addlist.button{
  color: #fff;
  background-color:#404040;
}
.play.button:hover{
background-color: #ccc;
}
.addlist.button:hover{
background-color: #606060;
}
.fa-search,.fa-times{
  color:white;
  padding-left:20px;
}
.search{
  align-items: center;
margin-right: 30px;
flex-direction: row-reverse;
}
input,select{
  border-radius:5px;
  color:#ccc;
  padding:10px;
  background-color: #404040;
}
input::placeholder{
    color:#ccc;
}
footer{
  height:100px;
  align-items:center;
  justify-content:center;
}
footer li{
  color:#ccc;
  display:flex;
  align-items: center;
  flex-direction: column;
  width:100px;
}
.logo:hover{
  cursor:pointer;
}
footer li:hover{
    color:#fff;
    cursor:pointer;
}

/* ripetizione keyframes per animations */
/* @keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

.button {
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
} */
.charger{
  position:absolute;
  /* se voglio coprire pure header */
  margin-top:-80px;
  z-index:9;
  width:100vw;
  height:100vh;
  background-color: #000;
}
.charger i {
  position:absolute;
  color:#fff;
  font-size: 100px;
  z-index:10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

 @-webkit-keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
