 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #000;
}
.flex{
  display:flex;
}
ul li{
  list-style: none;
}
header{
  justify-content: space-between;
  align-items:center;
  height:80px;
}
.logo{
  width:120px;
  height:auto;
}
main{
  justify-content: center;
  flex-wrap: wrap;
}
.locandina{
  color:#fff;
  margin:10px;
  width:180px;
  height:250px;
  border:1px solid #fff;
  background-position: center;
  background-size: cover;
}
